body {
    background: linear-gradient(45deg, rgba(228, 98, 240, 0.692) 0%, rgba(181, 231, 240, 0.849) 43%, rgba(223, 175, 235, 0.816) 73%);
    font-family: lagosta, cursive ;
}

.nav__bar {
    align-items: center;
    background: linear-gradient(45deg, #dc8df0, #854f85);
    /* box-shadow: 10px 5px 10px 0 #6095ca; */
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    padding: 0 5em;
    width: 0 auto ;
    
}

.navegacao__logo{
    display: flex;
   font-weight: bold;
   font-size: 25px;
   text-transform: uppercase;
}

.menu__items, .navegacao__menu {
    display: flex;
    
}

.list__items {
    padding-left: 2rem;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 20px;
    
}

.items__botao--acesso {
    color: antiquewhite;

}

.items__botao--acesso:hover {
    font-size: 22px;
}

.items__botao--acesso:active {
    color: black;
}


/* VIDEO E MOTIVOS DE ADOÇÃO */

.container__video--lista {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   /*  justify-content: space-between; */
    padding: 0 4em;
    margin: 2rem 0;
    background: linear-gradient(45deg, rgba(207, 167, 205, 0.315), rgba(237, 151, 240, 0.281)) ;
    border-radius: 100%;
}

.texto__video {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
}

.motivo__pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 300px;
    background: white;
    border-radius: 50%;
}

.titulo__motivos {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 2rem 0;
    
}

.lista__motivos {
    align-self: center;
    margin-left: 3rem;
}

.items__list {
text-transform: lowercase;
padding-bottom: 1em;
list-style: disc;
}

.container__bichos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4em 0;
    padding: 0 5rem;
    width: 0 auto;
}

.cachorro, .gatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 260px;
    height: 260px;
    border-radius: 10%;
    margin: 1em;
    /* justify-content: center; */
} 

.todosOsAnimais {
width: 150px;
height: 150px;
background-size: cover;
background-position: center;
border-radius: 100%;
margin-top:  5%;
}

.imagem__cahorro {
    background-image: url(../img/imagem2-pincher.jpg);
}

.imagem__cahorro2 {
    background-image: url(../img/imagem1.jpg);
}

.imagem__cahorro3 {
    background-image: url(../img/imagem3-manezin.webp);
}

.imagem__cahorro4 {
    background-image: url(../img/imagem4-amarelinho.webp);
}

.conteudo__cachorro, .conteudo__gato{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

/* .descricao__cachorro {
} */


.descricao__cachorro strong, .descricao__gato strong {
    font-weight: bold;
}

.botao__cachorro, .botao__gato {
    margin-top: 1em;
    background: linear-gradient(50deg, rgb(233, 74, 74), rgb(238, 150, 150), rgb(63, 63, 233));
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 1em;
    border-radius: 30%;
}

.botao__cachorro:hover {
    font-size: 15px;
    /* transition: 0.2s; */
}

.botao__cachorro:active {
    background: linear-gradient(50deg, rgb(63, 63, 233), rgb(238, 150, 150), rgb(233, 74, 74));
    color: white;
}


/* PARTE DESTINADA A ÁREA DOS GATOS */

.imagem__gato {
    background-image: url(../img/gato3.jpg);
}

.imagem__gato2 {
    background-image: url(../img/gato2.html);
}

.imagem__gato3 {
    background-image: url(../img/gato5.jpg);
}

.imagem__gato4 {
    background-image: url(../img/gato4.webp);
}

.botao__gato:hover {
    font-size: 15px;
    /* transition: 0.2s; */
}

.botao__gato:active {
    background: linear-gradient(50deg, rgb(63, 63, 233), rgb(238, 150, 150), rgb(233, 74, 74));
    color: white;
}


/* RODAPÉ DA PÁGINA */

.rodape {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(30deg, rgb(38, 54, 61), rgb(10, 36, 41));
    width: 0 auto;
    height: 100px;
    border: 2px solid black;
    border-radius: 6%;

}

.rodape__texto {
    align-items: center;
    text-align: center;
    margin-left: 3em;
    color: white;
}

.imagem__rodape {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo-resilia.png);
    width: 20rem;
    height: 5rem;
    margin-right: 3em;
    
}
@media screen and (max-width: 900px) {
    .container__video--lista {
        flex-direction: column;
    }
    .motivo__pet {
        margin-top: 3em;
    }
}

 @media screen and (max-width: 700px) {
    .container__video--lista {
        flex-direction: column;
    }
    .motivo__pet {
        margin-top: 3em;
    }
 }
    
   
@media screen and (max-width: 400px) {
    .nav__bar {
        flex-direction: column;
        height: 120px;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 0 auto;
    }

    .navegacao__logo {
        display: none;
    }

    .navegacao__menu, .menu__items {
        flex-direction: column;
    }

     .list__items{
        flex-direction: column;
        padding-bottom: 1rem ;
    }

    .container__video--lista {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .video {
        width:22rem;
    }

    .motivo__pet {
        margin: 3rem 0 0 0;
        width: 23rem;
    }
    .lista__motivos {
        width: 20rem;
    }

    .rodape {
        align-items: center;
        justify-content: center;
    } 

    .imagem__rodape {
        display: none;
    }
}
