* body {
    background: linear-gradient(90deg, rgba(128,234,235,0.9360119047619048) 0%, rgba(0,146,161,0.8491771708683473) 43%, rgba(40,58,167,0.8155637254901961) 73%);
    background: rgb(128,234,235);
    font-family: lagosta, cursive ;
}

.cabecalho__navegacao {
    align-items: center;
    background: linear-gradient(45deg, #6da8f5, #125175);
    border-radius: 50%;
    box-shadow: 10px 5px 10px 0 #6095ca;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    padding: 0 5em;
    width: 0 auto ;
    
}

.navegacao__logo{
   font-weight: bold;
   font-size: 25px;
   text-transform: uppercase;
}

.navegacao__menu {
    display: flex;
}

.menu__items {
    display: flex;
    
}

.list__items {
    padding-left: 1em;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 20px;
    
}

.items__botao--acesso {
    color: antiquewhite;
}

.banner {
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner__imagem {
    background-image: url(../img/cachorro-flock.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1%;
    position: relative;
    height: 400px;
    width: 0 auto;
}

.titulo__container {
    margin-top: 1em;
    padding: 1em 0;
    width: 0 auto;
    background: linear-gradient(70deg, rgb(91, 211, 241), rgb(184, 227, 238), rgb(130, 182, 189));
    box-shadow: 5px 7px 8px 6px rgb(184, 227, 238);
}

.titulo__banner {
    background-size: contain;
    background-image: url(../img/76YS.gif);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
   /*  justify-content: center; */
    text-transform: uppercase;
    width: 100% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__bichos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4em 0;
}

.cachorro, .gatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 260px;
    height: 260px;
    border-radius: 10%;
    margin: 1em;
    /* justify-content: center; */
} 

.imagem__cahorro {
    background-image: url(../img/imagem2-pincher.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.imagem__cahorro2 {
    background-image: url(../img/imagem1.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.imagem__cahorro3 {
    background-image: url(../img/imagem3-manezin.webp);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.imagem__cahorro4 {
    background-image: url(../img/imagem4-amarelinho.webp);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.conteudo__cachorro, .conteudo__gato{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

/* .descricao__cachorro {
} */


.descricao__cachorro strong, .descricao__gato strong {
    font-weight: bold;
}

.botao__cachorro, .botao__gato {
    margin-top: 1em;
    background: linear-gradient(50deg, rgb(233, 74, 74), rgb(238, 150, 150), rgb(63, 63, 233));
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 1em;
    border-radius: 30%;
}

.botao__cachorro:hover {
    font-size: 15px;
    /* transition: 0.2s; */
}

.botao__cachorro:active {
    background: linear-gradient(50deg, rgb(63, 63, 233), rgb(238, 150, 150), rgb(233, 74, 74));
    color: white;
}

/* PARTE DESTINADA A ÁREA DOS GATOS */

.imagem__gato {
    background-image: url(../img/gato3.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.imagem__gato2 {
    background-image: url(../img/gato2.html);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.imagem__gato3 {
    background-image: url(../img/gato5.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.imagem__gato4 {
    background-image: url(../img/gato4.webp);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-top:  5%;
}

.botao__gato:hover {
    font-size: 15px;
    /* transition: 0.2s; */
}

.botao__gato:active {
    background: linear-gradient(50deg, rgb(63, 63, 233), rgb(238, 150, 150), rgb(233, 74, 74));
    color: white;
}


.container__video {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   /*  justify-content: space-between; */
    background: linear-gradient(45deg, rgb(165, 215, 228), rgb(88, 238, 243));
    padding: 0 4em;
    margin: 2em 0;
}

.texto__video {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
}

.motivo__pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
}

.titulo__motivos {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2em;
}

.items__list {
text-transform: lowercase;
padding-bottom: 1em;
list-style:disc;
}


/* RODAPÉ DA PÁGINA */

.rodape {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(30deg, rgb(38, 54, 61), rgb(10, 36, 41));
    width: 0 auto;
    height: 100px;
    border: 2px solid black;
    border-radius: 6%;

}

/* .texto__rodape {
    
} */

.rodape__texto {
    align-items: center;
    text-align: center;
    margin-left: 3em;
    color: white;
}

.imagem__rodape {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo-resilia.png);
    width: 200px;
    height: 50px;
    margin-right: 3em;
    
}

/*  @media (max-width: 400px) { 
    .cabecalho__navegacao {
        flex-direction: column;
        border-radius: 0;
        height: 150px;
        padding: 0;
        align-items: center;
        width: 400px;
        box-shadow: none;
    }

    }
    .navegacao__logo {
        display: none;
    }

    .menu__items {
        flex-direction: column;
        width: 0 auto;
    }

    .list__items {
        padding-top: 1em;
        text-transform: uppercase;
        text-align: center;
    }

     .banner {
        width: 400px;
    }

    .lista__motivos {
        width: 300px ;
    }

    .titulo__banner {
        font-size: 20px;
    }

    .container__video {
        flex-direction: column;
    }

    .video {
        width: 390px;
    }
} */
 


